#tools {
    background: pink;
    height: 500px;
    width:80px;
    display:flex ;
    flex-direction: column;
    justify-content: center;
}
#content{
    width: 400px;
   display:flex;
   height:500px;
    margin: 0px;
    padding: 0px;
    background-color: white;
}
#contentAboutAs{
    width: 100%;
    height:500px;
     margin: 0px;
     padding: 0px;
     background:white;
}
#contentWelcome{
    width: 100%;
    height: 500px;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    background-image: url(images/homeBack.jpg);
    font-weight: bolder;
}
#painter{
    background-size: cover;
     background: white; 
}
.imagestools{
    margin-top: 50px;

    
}
#save{
    /*visibility: hidden;*/
}
.imagecontainer{
    grid-auto-flow: row dense;
    display: flex;

}
.savedpic{
    width:120px;
    height:160px;
    align-items:left ;

}
.coloringpic{
    max-width:100% ;
    max-height:100% ;
   
}
body{
    margin:0px;
    
    
}
.about{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pages{
    display:flex;
    align-items: center;
    justify-content: center;
}
.footer {
    background-color: palevioletred;
    width: 100%;
    height: 50px;
}
h1{
    text-align: center;
    font-style: oblique;
}
p{
    text-align: center;
   
}
iframe{
    width: 100%;
    align-content: center;
}
